/* CSS broken down into sections */



/* 1. navbar CSS */


.menu {
  width: 400px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  margin-right: 10rem;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  transition: all 0.2s;
}

.menu a:hover {
  box-shadow: 0 4px 2px -2px #61D0E3;
}

.logo {
  margin-left: 10rem;
}

.navbar {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .navbar {
    height: 110px;
    margin: 0;
    margin-bottom: 25px;

  }

  .logo {
    margin-left: 20px;
    width: 90px;
  }

  .logo img {
    width: 70px !important;
    height: auto;
  }

  .menu {
    width: 220px;
    margin-right: 20px;
  }

  .menu a {
    font-size: 12px;
  }
}


/* 2. main content CSS */

.content {
  height: 750px;
  /* background-image: url('/sam.svg');
  background-position: right;
  background-repeat: no-repeat; */
}

.content-info {
  width: 75%;
}

.content-message {
  padding-top: 100px;
}

.content-message h2 {
  margin-left: 10rem;
  font-size: 60px;
  color: white;
  margin-bottom: 2.5rem;
}

.content-message span {
  color: #61D0E3;
}

.content-btns {
  margin-left: 10rem;
}

.content a {
  text-decoration: none;
  color: white;
  border: 2px solid #61D0E3;
  padding: 1.25rem 3.5rem;
  margin-right: 2rem;
  border-radius: 36px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s;
}

.content a:hover {
  background-color: #61D0E3;
}

@media (max-width: 1590px) {

  .content h2 {
    font-size: 45px;
  }

  .content a {
    font-size: 15px;
    padding: 0.75rem 2rem;
  }
}

@media (max-width: 1305px) {
  .content h2 {
    font-size: 30px;
    margin-bottom: 2rem;
  }

  .content a {
    font-size: 12px;
    margin-right: 1rem;
  }

  .content-btns {
    margin-left: 10rem;
  }

}

@media (max-width: 480px) {
  .content {
    object-fit: cover;
    overflow: hidden;
    background-position: 9% 60%;
  }

  .content-message {
    padding-top: 200px;
  }

  .content-message h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: white;
    margin-bottom: 1rem;
  }

  .content-info {
    width: 100%;
  }

  .content a {
    font-size: 16px;
    padding: 0.5rem 1.25rem;
    margin-right: 1rem;
  }

  .content-btns {
    margin-top: 30px;
    margin-left: 1.2rem;
  }
}




/* 3. pitch CSS */


.pitch {
  color: white;
  width: 100%;
  margin: 0 auto;
  background-color: #111111;
  padding-top: 140px;
  padding-bottom: 180px;
}

.pitch-head {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  margin-bottom: 118px;
}

.pitch-head h2 {
  font-size: 65px;
  font-weight: 700;
}

.pitch-info {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pitch-1 {
  margin: 0;
  width: 450px;
}

.pitch-1 h2 {
  margin: 0;
  font-size: 32px;
  text-align: right;
  line-height: 50px;
}

.pitch-2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 180px;
}

.pitch-2 p {
  margin: 0;
  margin-left: 27px;
  font-size: 15px;
}

.pitch-list {
  display: flex;
  align-items: center;
}

@media (max-width: 1500px) {
  .pitch-1 h2 {
    margin: 0;
    font-size: 28px;
    text-align: right;
    line-height: 50px;
  }

  .pitch-info {
    width: 80%;
  }

  .pitch-2 p {
    margin-left: 15px;
  }
}

@media (max-width: 1260px) {

  .pitch-head h2 {
    font-size: 40px;
  }

  .pitch-info {
    width: 85%;
  }

  .pitch-1 h2 {
    font-size: 22px;
  }

  .pitch-2 p {
    font-size: 12px;
    margin-left: 12px;
  }

  .pitch-1 {
    width: 350px;
  }
}

@media (max-width: 480px) {
  .pitch-head h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

  .pitch-head {
    margin-bottom: 50px;
  }

  .pitch-1 h2 {
    font-size: 18px;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .pitch-2 p {
    font-size: 12px;
    margin-left: 12px;
  }

  .pitch-1 {
    width: 350px;
  }

  .pitch-info {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



/* 4. how to buy section CSS */


.cards {
  padding-top: 10px;
  color: white;
}

.card-header {
  font-size: 50px;
  margin: 0;
  margin-top: 120px;
  text-align: center;
  margin-bottom: 29px;
}

.card-p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 50px;
}

.card-list {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 120px;
}

.card1 {
  width: 350px;
  height: 480px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #111111;
  transition: all 0.15s;
}

.card1:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 2px -2px #61D0E3;
}

.card1 img {
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 45.58px;
}

.card1 h3 {
  margin: 0;
  margin-left: 36px;
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 32px;
}

.card1 p {
  margin: 0;
  margin-left: 36px;
  margin-right: 27px;
  font-size: 17px;
  line-height: 34px;
  font-weight: 300;
}

.card2 {
  width: 350px;
  height: 480px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #111111;
  transition: all 0.15s;
}

.card2 img {
  margin-top: 31.89px;
  margin-left: 34px;
  margin-bottom: 39.89px;
}

.card2:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 2px -2px #61D0E3;
}

.card2 h3 {
  margin: 0;
  margin-left: 36px;
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 32px;
}

.card2 p {
  margin: 0;
  margin-left: 36px;
  margin-right: 27px;
  font-size: 17px;
  line-height: 34px;
  font-weight: 300;
}

.card3 {
  width: 350px;
  height: 480px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #111111;
  transition: all 0.15s;
}

.card3:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 2px -2px #61D0E3;
}

.card3 img {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 42px;
}

.card3 h3 {
  margin: 0;
  margin-left: 36px;
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 32px;
}

.card3 p {
  margin: 0;
  margin-left: 36px;
  margin-right: 27px;
  font-size: 17px;
  line-height: 34px;
  font-weight: 300;
}

.card4 {
  width: 350px;
  height: 480px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #111111;
  transition: all 0.15s;
}

.card4:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 2px -2px #61D0E3;
}

.card4 img {
  margin-top: 49px;
  margin-left: 32px;
  margin-bottom: 57px;
}

.card4 h3 {
  margin: 0;
  margin-left: 36px;
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 32px;
}

.card4 p {
  margin: 0;
  margin-left: 36px;
  margin-right: 27px;
  font-size: 17px;
  line-height: 34px;
  font-weight: 300;
}

@media (max-width: 1620px) {
  .card-list {
    width: 80%;
  }

  .card1 {
    width: 250px;
    height: 375px;
  }

  .card1 img {
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 20px;
    width: 30px !important;
    height: 27.8px !important;
  }

  .card1 h3 {
    margin-left: 18px;
    margin-bottom: 0;
    font-size: 12px;
  }

  .card1 p {
    margin: 18px;
    margin-right: 15px;
    font-size: 13px;
  }

  .card2 {
    width: 250px;
    height: 375px;
  }

  .card2 img {
    width: 20px !important;
    height: 32.6px !important;
    margin-top: 14px;
    margin-left: 18px;
    margin-bottom: 17px;
  }

  .card2 h3 {
    margin-left: 18px;
    margin-bottom: 0;
    font-size: 12px;
  }

  .card2 p {
    margin: 18px;
    margin-right: 15px;
    font-size: 13px;
  }

  .card3 {
    width: 250px;
    height: 375px;
  }

  .card3 img {
    width: 29px !important;
    height: 33.5px !important;
    margin-top: 14px;
    margin-left: 18px;
    margin-bottom: 17px;
  }

  .card3 h3 {
    margin-left: 18px;
    margin-bottom: 0;
    font-size: 12px;
  }

  .card3 p {
    margin: 18px;
    margin-right: 15px;
    font-size: 13px;
  }

  .card4 {
    width: 250px;
    height: 375px;
  }

  .card4 img {
    width: 29px !important;
    height: 14.07px !important;
    margin-top: 25px;
    margin-left: 18px;
    margin-bottom: 24px;
  }

  .card4 h3 {
    margin-left: 18px;
    margin-bottom: 0;
    font-size: 12px;
  }

  .card4 p {
    margin: 18px;
    margin-right: 15px;
    font-size: 13px;
  }
}

@media (max-width: 1340px) {
  .card-list {
    margin: 0 auto;
    width: 70%;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 120px;
  }

}

@media (max-width: 1260px) {

  .card-p {
    width: 750px;
  }

  .card-list {
    margin: 0 auto;
    width: 70%;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 120px;
  }
}

@media (max-width: 480px) {
  .card-header {
    margin-top: 40px;
    font-size: 30px;
  }

  .card-p {
    display: none;
  }

  .card-list {
    margin: 0 auto;
    width: 90%;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 120px;
  }

  .card1 {
    width: 280px;
    height: 325px;
  }

  .card2 {
    width: 280px;
    height: 325px;
  }

  .card3 {
    width: 280px;
    height: 325px;
  }

  .card4 {
    width: 280px;
    height: 325px;
  }
}



/* 5. CZ trolling CSS */


.cz-troll {
  padding: 0;
  color: white;
  height: 700px;
  /* background-image: url('/cz.svg');
  background-repeat: no-repeat;
  background-position: right; */
  margin-bottom: 100px;
  background-color: #111111;
}

.cz-quote {
  font-size: 28px;
  margin: 0;
  width: 800px;
  margin-top: 150px;
  margin-left: 200px;
  padding-top: 180px;
}

.cz-quote span {
  color: #61D0E3;
}

.cz-quote h1 {
  margin: 0;
}

.cz-cite {
  font-size: 25px;
  margin: 0;
  margin-left: 510px;
  margin-top: 64px;
}

@media (max-width: 1460px) {

  .cz-quote {
    font-size: 24px;
    width: 600px;
    margin-left: 150px;
  }

  .cz-cite {
    font-size: 18px;
    margin-left: 400px;
    margin-top: 30px;
  }
}

@media (max-width: 1220px) {

  .cz-quote {
    font-size: 20px;
    width: 500px;
    margin-left: 100px;
  }

  .cz-cite {
    font-size: 16px;
    margin-left: 300px;
    margin-top: 24px;
  }
}

@media (max-width: 480px) {
  .cz-cite {
    text-shadow: 0.3px 1px #61D0E3;
    margin-top: 18px;
    margin-left: 18px;
    width: 250px;
    text-align: right;
  }

  .cz-quote {
    width: 300px;
    font-size: 18px;
    text-align: left;
    margin-left: 25px;
    text-shadow: 0.3px 1px #61D0E3;
    margin-right: 25px;
  }

  .cz-troll {
    background-size: fit;
    background-position: -2% 50%;
  }
}



/* 6. last CSS */


.last-section {
  margin: 0;
  margin-left: 185px;
  margin-top: 250px;
  margin-bottom: 250px;
  height: 400px;
  color: white;
  display: flex;
}

.last-section img {
  margin-top: 25px;
}

.ending-message {
  margin-left: 170px;
  margin-bottom: 265px;
}

.ending-message h3 {
  font-size: 50px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.ending-message p {
  margin: 0;
  margin-left: 3px;
  font-weight: 500;
  line-height: 38.52px;
  width: 620px;
  margin-bottom: 20px;
}

.ending-message a {
  margin-right: 30px;
}

.socials img {
  transition: all 0.2s;
}

.socials img:hover {
  filter: brightness(0) saturate(100%) invert(70%) sepia(85%) saturate(308%) hue-rotate(146deg) brightness(95%) contrast(87%);
}

.ending-message a:hover {
  color: #61D0E3;
}

.contract {
  color: white;
  margin-bottom: 80px;
  text-align: center;
}

.contract h1 {
  font-size: 50px;
  text-align: center;
}

.contract h2 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.contract button {
  text-decoration: none;
  border: 2px solid #61D0E3;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  padding: 0.75rem 2.25rem;
  margin: 0 auto;
  margin-top: 15px;
  transition: all 0.25s;
  font-size: 20px;
}

.contract button:hover {
  background-color: #61D0E3;
  transform: scale(1.04);
  cursor: pointer;

}


@media (max-width: 1550px) {

  .ending-message {
    margin-left: 80px;
  }

  .ending-message h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .ending-message p {
    width: 400px;
    font-size: 14px;
  }
}


@media (max-width: 1220px) {
  .last-section img {
    width: 200px;
    height: 170px;
    margin-top: 0;
  }

  .ending-message img {
    margin-right: 5px;
    width: 25px !important;
    height: auto !important;
  }

  .ending-message a {
    width: 30px;
    height: 30px;
    transition: all 0.2s;
  }

  .last-section {
    margin-left: 150px;
  }

  .contract {
    margin-bottom: 100px;
  }

  .contract h1 {
    font-size: 30px;
    text-align: center;
  }

  .contract h2 {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 990px) {
  .last-section {
    margin-left: 75px;
  }
}

@media (max-width: 480px) {
  .last-section img {
    width: 100px;
    height: 65px;
    margin-right: 0;
  }

  .last-section {
    margin-left: 18px;
  }


  .ending-message h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
  }

  .ending-message p {
    margin: 0;
    margin-left: 3px;
    font-weight: 400;
    line-height: 15px;
    width: 200px;
    margin-bottom: 20px;
  }

  .ending-message {
    margin-left: 30px;
    margin-bottom: 265px;
  }

  .contract h1 {
    font-size: 30px;
    text-align: center;
  }

  .contract h2 {
    font-size: 12px;
    text-align: center;
  }

}


/* 7. footer CSS */


.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #61D0E3;
}

.footer p {
  font-size: 20px;
  margin-left: 200px;
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu {
  margin-right: 200px;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 100px;
  transition: all 0.2s;
}

.footer-menu a:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 2px -2px #61D0E3;
}

@media (max-width: 1220px) {
  .footer p {
    font-size: 16px;
    margin-left: 100px;
  }

  .footer-menu {
    margin-right: 100px;
  }

  .footer-menu a {
    font-size: 16px;
    margin-left: 30px;
  }
}

@media (max-width: 480px) {

  .footer {
    height: 75px;
  }

  .footer p {
    font-size: 12px;
    margin-left: 10px;
  }

  .footer-menu {
    margin-right: 10px;
  }

  .footer-menu a {
    font-size: 12px;
    margin-left: 12px;
  }
}
